.sciens-box {
  display: flex;
  justify-content: center;
}
.people-medici {
  margin-bottom: 16px;
  @media screen and (min-width: $bp-tablet) {
    margin-bottom: 0;
  }
}
.medici-box {
  display: flex;
  justify-content: center;
}
.crown-box {
  display: flex;
  justify-content: center;
}
.people-science {
  margin-bottom: 16px;
  @media screen and (min-width: $bp-tablet) {
    margin-bottom: 0;
  }
}
