.contact-container {
  display: flex;
  gap: 32px;
  justify-content: center;
}
.contact-map {
  flex-shrink: 0;
}
.formats-section__slider {
  display: flex;
  gap: 32px;
  align-items: center;
}
.formats-section__container {
  overflow: hidden;
}
.format-face {
  display: flex;
  gap: 16px;
  flex-shrink: 0;
}
.format-card__image {
  border-radius: 0px 155px 0px 155px;
}
.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 16px;
}
