.form {
  &__field {
    position: relative;
    margin-bottom: 16px;
  }

  &__input {
    padding: 18px 32.85px;
    width: 100%;
    border: 2px solid #747272;
    border-radius: 32px;
    background-color: transparent;

    &::placeholder {
      color: #ffffff;
    }

    &:focus {
      border-color: #747272;
      outline: none;
      background-color: #747272;
    }
  }
  &__label {
    position: absolute;
    left: 32.85px;
    top: 18px;
    opacity: 0;
  }

  &__button {
    display: block;
    margin: 0 auto 8px;
  }

  &__terms {
    text-align: center;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 18px;
  }

  &__terms-link {
    color: #747272;
    text-underline-offset: 2px;
  }
}
