.main-section {
  background-image: url(..//..//images/background-1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 0;
  aspect-ratio: 30 / 18;

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dpx) {
    background-image: url(../../images/background-1@2x.jpg);
  }
}
