.main-section {
  background-image: url(../images/фон\\(1\).svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 0;
  aspect-ratio: 30 / 18;
  @media screen and (min-device-pixel-ratio: 2) {
  }
}
