.contact-form {
  color: #ffffff;
  padding: 16px 18px;
}
.foot-masengers {
  display: flex;
  gap: 24px;
}
@keyframes spin {
  0% {
    transform: rotate(0);
    transform: scale(0.5);
  }
  50% {
    transform: rotate(-100deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
